.date{
    flex:0.05px;
    height: 3rem;
    border-radius: 3px;
    border: gray 1px solid;
    display: flex;
    flex-direction: row;
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
}
.day{
    flex:1;
    font-size: medium;
    margin:2px;
    margin-left: 8px;
    text-align: center;
}
.dates{
    flex:8;
    font-size: medium;
    margin:2px;
    margin-left: 10px;
}



.scrolldiary{
    flex:8;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

.diarydate{
    flex:0.05;
    text-align: left;
    margin:10px;
    position: relative;
}
.diarycontent{
    flex:2px;
    text-align: center;
    position: auto;
    border: gray dashed 1px;
    margin-right:10px
}

.secret{
  flex:2px;
  background-color: rgb(255, 255, 255);
  position:auto;
  border: red solid 2px;
  text-align: center;
  border-radius: 3px;
  margin: 10px;
  margin-left: 0px;
}
.secret:hover{background-color: salmon;}

#secret-box {
    display: none;
  }