.homebox{
    flex:0.05;
    background-color: rgba(146, 143, 143, 0.699);
    text-align: left;
    margin: 10px;
    position: relative;
    border-radius: 3px;
  }

  .scroll{
    flex:8;
    border-radius: 3px;
    border:black 0.5px dashed;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .pic1{
    position:auto;
    flex:5;
    margin: 10px;
  }
  .explain{
    position:auto;
    margin: 10px;
  }

